
.root {-fx-background: #FFF;}
.btn {
    -fx-background-color: #FAF0E6;
    -fx-text-fill: #8B4513;
    -fx-font-size: 36pt;
    -fx-border-width: 1px;
    -fx-border-color: #8B4513;
    -fx-background-insets:0,0,0,0;
    -fx-padding: 0 0 0 0;
}
.btn:disabled {
    -fx-opacity: 0.65;
    -fx-text-fill: #FAF0E6;
    -fx-background-color: #8B4513;
    -fx-border-color: #FAF0E6;
    -fx-border-radius: 5px;
}
.btn_new {
    -fx-background-color: #FFEBCD;
        -fx-text-fill: #000;
        -fx-font-size: 12pt;
        -fx-border-width: 1px;
        -fx-border-color: #8B4513;
        -fx-background-insets:0,0,0,0;
        -fx-padding: 0 0 0 0;
        -fx-border-radius: 5px;
}
.winnerLabel {
    -fx-font-size: 12pt;
    -fx-font-color: #8B4513;
}